@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@font-face {
    font-family: 'Beatles';
    src: url(fonte/bootle-font/Bootle-4B9l.ttf);
    font-weight: normal;
}

:root {
    --cor01: #523D15;
    --cor02: #D9B979;
    --cor03: #D19E36;
    --cor04: #52462E;
    --cor05: #9E7729;

    --fonte-padrao: Arial, Verdana, Helvetica, sans-serif;
    --fonte-beatles: 'Beatles', cursive;
    --fonte-reserva: 'Bebas Neue';
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-image: linear-gradient(to bottom, var(--cor04), var(--cor05)); 
}

strong {
    color: var(--cor01);
}

header {
    background-image: linear-gradient(to bottom, var(--cor03), var(--cor05));
    min-height: 150px;
    text-align: center;
    padding: 30px 0px 0px 0px;
}

header > h1 {
    font-family: var(--fonte-reserva);
    font-weight: bold;
    font-size: 50px;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.11);
}

header > p {
    font-family: var(--fonte-reserva);
    font-weight: normal;
    font-size: 20px;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.11);
}

nav {
    background-color: var(--cor05); 
    padding: 10px;
    box-shadow: 1px 5px 5px rgba(0, 0, 0, 0.24);
    text-align: center;
}

nav > a {
    font-family: var(--fonte-padrao);
    text-decoration: none;
    color: rgb(0, 0, 0);
    padding: 10px 40px 10px 40px;
    font-weight: bold;
    transition-duration: .5s;
}

nav > a:hover{
    background-color: var(--cor01);
    color: var(--cor03);
    border-radius: 5px;
}

main {
    background-color: rgb(255, 255, 255);
    min-width: 300px;
    max-width: 1000px;
    margin: auto;
    border-radius: 0px 0px 5px 5px;
    box-shadow: 1px 5px 5px rgba(0, 0, 0, 0.24);
}

main > h1 {
    background-image: linear-gradient(to top, transparent, var(--cor01));
    text-align: center;
    font-family: var(--fonte-beatles);
    font-size: 40px;
}

main > p {
    text-indent: 1em;
    font-family: var(--fonte-padrao);
    line-height: 25px;
    padding: 10px;
}

main > hr {
    color: #52462E;
    box-shadow: 1px 1px 7px rgba(0, 0, 0, 0.116);
}

main > h2 {
    font-family: var(--fonte-beatles);
    font-size: 40px;
}

.membros {
    font-family: var(--fonte-reserva);
    font-size: 40px;
    padding: 10px;
}

.lennon > h2 {
    font-family: var(--fonte-beatles);
    font-size: 40px;
    text-align: center;
}

.lennonft {
    text-align: center;   
}

.lennon > p {
    text-indent: 1em;
    font-family: var(--fonte-padrao);
    line-height: 25px;
    padding: 10px;
}

.paul > h2 {
    font-family: var(--fonte-beatles);
    font-size: 40px;
    text-align: center;
}

.paulft {
    text-align: center;
}

.paul > p {
    text-indent: 1em;
    font-family: var(--fonte-padrao);
    line-height: 25px;
    padding: 10px;
}

.george > h2 {
    text-align: center;
    font-size: 40px;
    font-family: var(--fonte-beatles);
}

.georgeft {
    text-align: center;
}

.george > p {
    text-indent: 1em;
    padding: 10px;
    line-height: 25px;
    font-family: var(--fonte-padrao);
    
}

.ringo > h2 {
    text-align: center;
    font-size: 40px;
    font-family: var(--fonte-beatles);
}

.ringoft {
    text-align: center;
}

.ringo > p {
    padding: 10px;
    text-indent: 1em;
    line-height: 25px;
    font-family: var(--fonte-padrao);
}

footer {
    background-color: var(--cor01);
    text-align: center;
    padding: 10px;
}

footer > p {
    color: rgb(255, 255, 255);
}

